export PLUGIN_CHART="./charts/myapp"
export PLUGIN_MASTER="https://127.0.0.1:8001"
export PLUGIN_NAMESPACE="default"
export PLUGIN_RELEASE="myapp"
export PLUGIN_SKIP_TLS="true"
export PLUGIN_TOKEN="0xdeadbeef"

export PLUGIN_SET_HOSTNAME="127.0.0.1"
export PLUGIN_VALUES=PORT=4000
