export HELM_NAMESPACE=default
export HELM_MASTER=https://127.0.0.1:8001
export HELM_CHART=stable/ghost
export HELM_SKIP_TLS=true
export HELM_TOKEN=some-secure-token-string
export HELM_RELEASE=blog
export HELM_CLEAN_BEFORE_RELEASE=true
export HELM_VALUES='{"dokuwikiEmail":"{{DOKUWIKI_EMAIL}}","dokuwikiPassword":"{{DOKUWIKI_PASSWORD}}"}'
export DOKUWIKI_EMAIL=imran@127labs.com
export DOKUWIKI_PASSWORD=password
